.grid-row {
    display: flex;
    justify-content: center;
}

.grid-element {
    border: 1px solid black;
}

#button-resize-div {
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}